<h2>🚲 Smart Bike Lock</h2>

<p>Server: {{ status }}</p>
<p>Khóa xe: {{ lock }}</p>

<hr>

<h3>Thêm người dùng</h3>

<form action="/add_user" method="post">
    <input type="number" name="id" placeholder="ID">
    <input type="text" name="name" placeholder="Tên">
    <button type="submit">Thêm</button>
</form>

<hr>

<h3>Danh sách vân tay</h3>

<table border="1">
<tr>
    <th>ID</th>
    <th>Tên</th>
    <th>Xóa</th>
</tr>

{% for u in users %}
<tr>
    <td>{{ u.id }}</td>
    <td>{{ u.name }}</td>
    <td>
        <form action="/delete_user" method="post">
            <input type="hidden" name="id" value="{{ u.id }}">
            <button>Xóa</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>